In [50]:
import numpy as np
import pandas as pd

In [51]:
#read the data file
data = pd.read_csv('datafile.csv') 

#print the top 5 rows
data.head()

,ID,score,COLPREP,DIS_COH,LOGDTA,LOGDTU,NSQG,NSQM,NSQU,NWF_MEDIAN,SVF,WORDLN_2
0,1,2,0.756913,-0.243887,3.598557,2.397895,-0.137833,-0.149626,-0.070535,-65.258011,3.069628,4.231343
1,2,1,0.785308,-0.432850,3.663562,1.098612,-0.172602,-0.130744,0.000000,-55.845630,2.909202,5.358974
2,3,1,0.352787,-1.112114,3.012262,1.098612,-0.259096,-0.181071,-0.128037,-64.124419,1.967153,4.721311
3,4,2,0.598193,-0.044348,2.990720,2.302585,-0.172970,-0.070888,-0.122782,-57.056961,3.369435,4.798995
4,5,1,0.651834,0.322877,3.810359,1.791759,-0.150726,-0.242983,-0.085907,-57.118968,3.930456,4.845018

In [52]:
# outcome variable
y = data['score']
y

0      2
1      1
2      1
3      2
4      1
      ..
704    1
705    4
706    1
707    3
708    2
Name: score, Length: 709, dtype: int64

In [53]:
# how many labels
np.unique(y)

array([0, 1, 2, 3, 4])

In [54]:
#drop the score and the ids
train = data.drop(['ID','score'], axis=1)
train.head()

,COLPREP,DIS_COH,LOGDTA,LOGDTU,NSQG,NSQM,NSQU,NWF_MEDIAN,SVF,WORDLN_2
0,0.756913,-0.243887,3.598557,2.397895,-0.137833,-0.149626,-0.070535,-65.258011,3.069628,4.231343
1,0.785308,-0.432850,3.663562,1.098612,-0.172602,-0.130744,0.000000,-55.845630,2.909202,5.358974
2,0.352787,-1.112114,3.012262,1.098612,-0.259096,-0.181071,-0.128037,-64.124419,1.967153,4.721311
3,0.598193,-0.044348,2.990720,2.302585,-0.172970,-0.070888,-0.122782,-57.056961,3.369435,4.798995
4,0.651834,0.322877,3.810359,1.791759,-0.150726,-0.242983,-0.085907,-57.118968,3.930456,4.845018

In [55]:
from sklearn.model_selection import train_test_split

#split into training and test data set
X_train, X_test, y_train, y_test = train_test_split (train, y, test_size=0.20, random_state=42)

In [58]:
# Decision Tree - suppervised 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

#f1 score is harmonic mean of precision and recall while accuracy looks at correctly classified observations
print("F1-score: ", f1_score(y_test, y_pred, average='macro'))

Accuracy: 0.3380281690140845
F1-score:  0.2930419825156667

In [59]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a random forest classifier, n_estrimators = number of trees to be built
clf=RandomForestClassifier(n_estimators=10)

#Train the model 
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

# Model Accuracy:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

#f1 score is harmonic mean of precision and recall while accuracy looks at correctly classified observations
print("F1-score: ", f1_score(y_test, y_pred, average='macro'))

Accuracy: 0.4859154929577465
F1-score:  0.4175536243205416

In [60]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict(X_test)

# Model Accuracy:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

#f1 score is harmonic mean of precision and recall while accuracy looks at correctly classified observations
print("F1-score: ", f1_score(y_test, y_pred, average='macro'))

Accuracy: 0.3873239436619718
F1-score:  0.3373917505095877